<%= error_messages_for 'product' %>

<p><%= form.label :name, "Language Name" %><br/>
<%= form.text_field :name %></p>

<p><%= form.label :iso_abbreviation, "ISO 639-1 Code" %><br/>
<%= form.text_field :iso_abbreviation %></p>

<p><%= form.label :language_definition, "Language definition" %><br/>
<%= form.text_area :language_definition, :style => 'width:100%' %></p>